.header {
  display: flex;
  justify-content: end;
  padding: 10px 10px 5px;
  position: relative;
}
.header > span {
  font-size: 20px;
  background-color: #257a8e;
  border-radius: 5px;
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 40px;
  right: 35px;
}
